<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Nombre Completo</ion-label>
    <ion-input type="text" [(ngModel)]="nombreCompleto"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Número de Carnet</ion-label>
    <ion-input type="text" [(ngModel)]="numeroCarnet"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="loadBirds()">Cargar</ion-button>
</ion-content>
